@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
}

body {
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-weight: 800;
    color: #ffffff;
    font-size: calc(1em + 0.5vw);
    margin: 15px;
    text-shadow: #ff0000 0px 0px 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.menu {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 0px;
    padding: 0 15px;
}

.botoes {
    height: 145%;
    width: 10vw;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border: solid 1px #fff;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}

#baudRate option {
    color: #ff0000;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 1px #fff;
}

.botoes:hover {
    transform: scale(1.05);
    border: solid 2px #fff;
}

.botoes:active {
    box-shadow: 0px 0px 20px #ffffff;
}

.log {
    display: block;
    border: solid 1px #fff;
    height: 100%;
    width: 100%;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #000000;
    box-shadow: 0px 0px 15px #ffffff;
    overflow-x: hidden;
    word-break: break-all;
    transition: 0.5s;
    padding: 0 15px;
    -ms-overflow-style: none;
    font-weight: 400;
    font-size: calc(0.7em + 0.2vw);
    font-style: normal;
}

.entrada {
    width: 100%;
    padding: 0 15px;
    height: calc(2.5em + 0.3vh);
    border: solid 1px #ffffff;
    box-shadow: 0px 0px 15px #ffffff;
    background: #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: hidden;
    margin-top: 5px;
    display: flex;
    align-items: center !important;
    transition: 0.5s;
    scrollbar-width: none;
}

.entrada>input {
    color: #ffffff;
    width: 100%;
    background: #000000;
    text-align: center;
    border: 0;
}

.entrada>input:focus {
    outline: none;
    color: #ffffff;
}

.rodape {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: calc(0.5em + 0.5vh);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px;
}

.rodape>div {
    width: 30vw;
}

.chipID {
    width: 30vw;
    text-align: left;
}

.autor {
    width: 30vw;
    text-align: center;
}

.logo {
    width: 30vw;
    text-align: right;
    font-weight: 700;
}

.error-message {
    color: #ff0000;
}

.xterm {
    cursor: text;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-size: 10px;
}

.xterm.focus,
.xterm:focus {
    outline: none;
}

.xterm .xterm-helpers {
    position: absolute;
    top: 0;
    /**
     * The z-index of the helpers must be higher than the canvases in order for
     * IMEs to appear on top.
     */
    z-index: 5;
}

.xterm .xterm-helper-textarea {
    padding: 0;
    border: 0;
    margin: 0;
    /* Move textarea out of the screen to the far left, so that the cursor is not visible */
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -5;
    /** Prevent wrapping so the IME appears against the textarea at the correct position */
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.xterm .composition-view {
    /* TODO: Composition position got messed up somewhere */
    background: #000;
    color: #FFF;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.xterm .composition-view.active {
    display: block;
}

.xterm .xterm-viewport {
    /* On OS X this is required in order for the scroll bar to appear fully opaque */
    background-color: #000;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    scrollbar-width: none;
}

.xterm .xterm-screen {
    position: relative;
}

.xterm .xterm-screen canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.xterm .xterm-scroll-area {
    visibility: hidden;
}

.xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999em;
    line-height: normal;
}

.xterm.enable-mouse-events {
    /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
    cursor: default;
}

.xterm.xterm-cursor-pointer,
.xterm .xterm-cursor-pointer {
    cursor: pointer;
}

.xterm.column-select.focus {
    /* Column selection mode */
    cursor: crosshair;
}

.xterm .xterm-accessibility:not(.debug),
.xterm .xterm-message {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: transparent;
    pointer-events: none;
}

.xterm .xterm-accessibility-tree:not(.debug) *::selection {
    color: transparent;
}

.xterm .xterm-accessibility-tree {
    user-select: text;
    white-space: pre;
}

.xterm .live-region {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.xterm-dim {
    /* Dim should not apply to background, so the opacity of the foreground color is applied
     * explicitly in the generated class and reset to 1 here */
    opacity: 1 !important;
}

.xterm-underline-1 {
    text-decoration: underline;
}

.xterm-underline-2 {
    text-decoration: double underline;
}

.xterm-underline-3 {
    text-decoration: wavy underline;
}

.xterm-underline-4 {
    text-decoration: dotted underline;
}

.xterm-underline-5 {
    text-decoration: dashed underline;
}

.xterm-overline {
    text-decoration: overline;
}

.xterm-overline.xterm-underline-1 {
    text-decoration: overline underline;
}

.xterm-overline.xterm-underline-2 {
    text-decoration: overline double underline;
}

.xterm-overline.xterm-underline-3 {
    text-decoration: overline wavy underline;
}

.xterm-overline.xterm-underline-4 {
    text-decoration: overline dotted underline;
}

.xterm-overline.xterm-underline-5 {
    text-decoration: overline dashed underline;
}

.xterm-strikethrough {
    text-decoration: line-through;
}

.xterm-screen .xterm-decoration-container .xterm-decoration {
    z-index: 6;
    position: absolute;
}

.xterm-screen .xterm-decoration-container .xterm-decoration.xterm-decoration-top-layer {
    z-index: 7;
}

.xterm-decoration-overview-ruler {
    z-index: 8;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.xterm-decoration-top {
    z-index: 2;
    position: relative;
}

.xterm-rows>span {
    line-height: 10px;
}